.chefaDomicilio_container{
    background-color: #ffffffa8;
}

.chefaDomicilio_container h1{
    font-size: 3.5em ;
    color: #6cad63;
    font-family: var(--font-4);
    text-shadow: 2px 2px 2px #222222af;
}

.chefaDomicilio_container p{
    font-size: 1.2em;
    font-family: var(--font-6); 
    color: #222222b6;
}

@media screen and (min-width: 950px ) {
  .chefaDomicilio_container p{
    font-size: 1.5em;    
}
}

.chefaDomicilio_container span{
    font-family: var(--font-3);
    padding: 0 5px;
}

.chefaDomicilio_container li{
    font-weight: 900;
    font-size: 1em;    
}

.chefaDomicilio_container a{
    color: #222;
    text-decoration: none;
}

.chefaDomicilio_container a:hover{
    color: #222222c7;
    text-decoration: underline;
}

.animeOpacity{
    animation: fadeUp linear 3s;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}

@keyframes fadeUp {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.scrollEfect{
    animation: appear linear 2s;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

@keyframes appear {
   from{
    opacity: 0;
    clip-path: inset(100% 100% 0 0);
   } 
   to{
    opacity: 1;
    clip-path: inset(0 0 0 0);
   }
    
}