.introComponent {
  background-image: url(../../images/refeicao/marmitasBackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.pelicula {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.rose {
  width: 290px;
  position: absolute;
  top: 5%;
  animation: rose 1s;
}

@keyframes rose {
  from {
    margin-left: -2000px;
  }
  to {
    margin-left: 0;
  }
}
.klamt {
  width: 300px;
  position: absolute;
  top: 32%;
  animation: klamt 1s;
  margin-left: 40px;
}

@keyframes klamt {
  from {
    margin-right: -2000px;
  }
  to {
    margin-right: 0;
  }
}

.pelicula p {
  position: absolute;
  top: 67%;
  font-family: var(--font-6);
  color: rgba(255, 0, 0, 0.877);
  font-size: 2.2em;
  font-weight: bolder;
  text-shadow: 2px 2px 2px #222;
}

.pelicula span {
  margin: 2px;
}

.span1 {
  animation: span1 3s;
}
@keyframes span1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.span2 {
  animation: span2 6s;
}
@keyframes span2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.span3 {
  animation: span3 9s;
}
@keyframes span3 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.span4 {
  animation: span4 12s;
}
@keyframes span4 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.pelicula .arrow-down {
  position: absolute;
  bottom: 10%;
  border: none;
  text-decoration: none;
  cursor: pointer;
  background-color: #6cad63;
  color: #fff;
  padding: 10px;
  font-family: var(--font-3);
  font-size: 1.5em;
  border-radius: 8px;
  text-shadow: 2px 2px 4px #222;
  letter-spacing: 5px;
  animation:fadeUp 9s ;
  animation: pulse 1s infinite;
}

@keyframes fadeUp{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulse {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}