.nossoServicos_container{
    background-color: #ffffffdc;    
}

.animation_container{
    animation: letter 1s ;    
}

@keyframes letter {
    from{
        margin-left: -2000px;
    }
    to{
        margin-left: 0;
    }
}

.nossoServicos_container h2{
    font-family: var(--font-6);
    text-align: center;
    font-weight: bolder;
    font-size: 3.5em;    
    text-shadow: 2px 2px 2px #222222a8;
    color: #6cad63;
    opacity: .9;    
}

.nossoServicos_container h4{
    font-family: var(--font-4);
    font-style: italic;
    font-size: 1.2em;    
    opacity: .8;
    background-image: linear-gradient(to right,  #6cad6336,  #6cad631e, transparent  );
}

.nossoServicos_container p{
    font-family: var(--font-6);
    font-size: 1.1em;
    padding: 5px;
    opacity: .7;
}

@media screen and (min-width: 950px) {
    .nossoServicos_container p{
        font-size: 1.4em;
    }
}

.nossoServicos_container strong{
    font-family: var(--font-3);
    font-size: 1.2em;
    color: #222222d2;
    padding: 0 3px;
    font-style: italic;
}

.nossoServicos_container a{
    text-decoration: none;
    color: #6cad63;
    padding: 0 8px;
}

.nossoServicos_container a:hover{
    text-decoration: underline;
}
