.btn_whats{
    position: fixed;
    right: 3%;
    bottom: 4%;
    background-color: #6cad63;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;    
    transition: all .3s linear;
    z-index: 1000;
    animation:  anime 6s infinite ;
}

@keyframes anime {
    from{
        transform: rotateZ(0);
    }
    to{
        transform: rotateZ(15deg);
    }
    
}

.btn_whats:hover , .btn_whats svg:hover{
    width: 60px;
    height: 60px;
    font-size: 4em;
}

.btn_whats svg{
    color: #fff;
    font-size: 2.5em;
    padding: 5px;
}

