footer{
  background-image: url(../../images/petiscos/petisco2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section{
  background-color: rgba(0, 0, 0, 0.692);
}

section a {  
  transition: .3s linear;
}

section a:hover{
  opacity: .5;
}