
.container a{
    overflow: hidden;
}

.btn_menu {
    letter-spacing: 0;
    text-decoration: none;
    font-family: var(--font-4);
    color: #6cad63;
    font-size: 2.5em;    
    transition: all .5s linear;
    cursor: pointer;
}

.btn_menu:hover,
.btn_menu:active {
  letter-spacing: 7px;
  border-bottom: 6px solid #6cad63;
  border-top: 6px solid  #6cad63;  
}


.container a img{ 
    transition: all 200ms linear; 
    cursor: pointer;
}

.container a:hover img{
    transform: scale(1.08);
}














