.lineAnime:nth-last-child(3){
    animation: popUpRowOne linear .3s;    
}

@keyframes popUpRowOne {
    from{
        opacity: 0;
        margin-left: -2000px;
    }
    to{
        opacity: 1;
        margin-left: 0;
    }
}

.lineAnime:nth-last-child(2){
    animation: popUpRowTwo linear .3s;
    animation-timeline: view();
    animation-range: entry 0% cover 25%;
}

@keyframes popUpRowTwo {
    from{
        opacity: 0;
        margin-left: -2000px;
    }
    to{
        opacity: 1;
        margin-left: 0;
    }
}

.lineAnime:nth-last-child(1){
    animation: popUpRowThree linear .3s;
    animation-timeline: view();
    animation-range: entry 0% cover 25%;
}

@keyframes popUpRowThree {
    from{
        opacity: 0;
        margin-left: -2000px;
    }
    to{
        opacity: 1;
        margin-left: 0;
    }
}


.container figure img{ 
    transition: all 200ms linear; 
}

.container figure:hover img{
    transform: scale(1.08);
}

.container figure figcaption{
    font-family: var(--font-6);
    background-color: #6cad63;
    transition: all linear .4s;   
    color: #fff;
}

.container figure:hover figcaption{
    background-color: #fff;
    color: #6cad63;
}














