.parallax{
    background-image: url(../../images/catering/6.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 30px 0;
}

.pelicula_parallax{
    background-color: #2222224b;
}


