.chefaDomicilio_container{
    background-color: #ffffffa8;
}

.chefaDomicilio_container h1{
    font-size: 4.5em ;
    color: var(--color1);
    font-family: var(--font-4);
    text-shadow: 2px 2px 2px #222;
}

.chefaDomicilio_container .definicao{
    font-size: 1.3em;
    color: #222222b6;
}

.chefaDomicilio_container li{
    font-weight: 900;
    font-size: 1em;    
}

.chefaDomicilio_container a{
    color: #222;
    text-decoration: none;
}

.chefaDomicilio_container a:hover{
    color: #222222c7;
    text-decoration: underline;
}



