.introComponent{
    background-image: url(../images/brunch5.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 750px) {
    .introComponent{
        background-image: url(../images/brunch5.png);
    }    
}

img {
    width: 300px;
    animation: fadeLogo 4s ;
}

@media screen and (min-width: 750px){
    img{
        width: 500px;
    }
}

@keyframes fadeLogo {
    from{opacity: 0;}
    to{opacity: 1;}
}

