.introComponent{
    background-image: url(../images/refeicao/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
}

.pelicula{
    background-color: #2222227a;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.rose{
    width: 300px;
    position: absolute;
    top: 5%;
    animation: rose 1s;
}

@keyframes rose {
    from{
        margin-right: -2000px;
    }
    to{
        margin-right: 0;
    }
}
.klamt{
    width: 300px;
    position: absolute;
    top: 35%;
    animation: klamt 1s;
}

@keyframes klamt {
    from{
        margin-left: -2000px;
    }
    to{
        margin-left: 0;
    }
}

.pelicula p{
    position: absolute;
    top: 85%;
    font-family: var(--font-4);
    color: rgb(50, 141, 50);
    font-size: 2.2em;
    text-shadow: 2px 2px 2px #222;
}

.pelicula span{
    margin: 2px;
}


.span1{ animation: span1 3s; }
@keyframes span1 { from{ opacity: 0; }   to{ opacity: 1; }  }

.span2{ animation: span2 6s; }
@keyframes span2 { from{ opacity: 0; }   to{ opacity: 1; }  }

.span3{ animation: span3 9s; }
@keyframes span3 { from{ opacity: 0; }   to{ opacity: 1; }  }

.span4{ animation: span4 12s; }
@keyframes span4 { from{ opacity: 0; }   to{ opacity: 1; }  }


