.btn_whats{
    position: fixed;
    left: 3%;
    bottom: 4%;
    background-color: green;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;    
    transition: all .3s linear;
}

.btn_whats:hover , .btn_whats svg:hover{
    width: 50px;
    height: 50px;
    font-size: 3em;
}

.btn_whats svg{
    color: #fff;
    font-size: 2.5em;
    padding: 5px;
}

